@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
/* SOME STARTERS */
input, select, img, button, .reveal-modal {
  outline: none; }

* {
  -moz-box-sizing: border-box; }

/* HTML & BODY */
html, body {
  background: #080808;
  color: #ffffff;
  font-family: "Inconsolata", sans-serif;
  font-size: 8pt;
  font-weight: 400;
  height: 100%;
  width: 100%; }

@media only screen and (min-width: 40.063em) {
  html, body {
    font-size: 10pt; } }
/* JS WARNING & FALLBACKS */
.modernizr-alert {
  display: none; }

.no-js .js-alert {
  display: block; }

.no-svg .browser-alert, .no-flexbox .browser-alert, .no-flexboxlegacy .browser-alert {
  display: block; }

.alert-box {
  background: #031F20;
  border: none;
  margin-bottom: 0; }
  .alert-box ul.inline {
    color: #ffffff; }

#vis-container, #vis-fallback {
  display: none; }

.svg #vis-container {
  display: block; }
.svg #vis-fallback {
  display: none; }

.no-svg #vis-fallback {
  display: block; }
.no-svg #vis-container {
  display: none; }

/* TYPOGRAPHY */
p {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

strong {
  font-weight: 700; }

h1 {
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  margin-right: 4%;
  font-weight: 900; }

.sub:before {
  content: "\21aa\00a0"; }

.inline {
  display: inline;
  vertical-align: middle;
  margin: 0; }

.archived, .archived .light {
  fill: #878787;
  color: #878787 !important; }

/* LINKS */
a, a:link, a:visited, a:hover, a:active {
  color: inherit; }

a:hover {
  border-bottom: 1px dotted; }

p a, a.emphasis, .artefact .textContainer a, .loader .textContainer a {
  border-bottom: 1px dotted; }

p a:hover, a.emphasis:hover, .artefact .textContainer a:hover, .loader .textContainer a:hover {
  border-bottom-style: solid; }

a.close:hover {
  border: none;
  opacity: 0.8; }

a.active, .sort.desc, .sort.asc {
  border-bottom: 1px solid; }

.nested {
  position: relative;
  z-index: 1; }

.nested a {
  z-index: 500;
  position: relative; }

.nested > a:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.nested > a:first-of-type:hover {
  border-bottom: none; }

.light {
  color: #d9d9d9; }

.indent {
  margin-left: 1rem !important; }

/* BUTTONS */
.button, button, .button:hover, button:hover {
  background-color: transparent;
  font-weight: inherit;
  font-family: inherit;
  display: inline-block; }

button.block, button.primary.block, button.secondary.block, button.block.tertiary, button.block.form-input, button.block[type=submit] {
  display: block;
  margin-bottom: 1rem; }

button.primary, .button.primary {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin: 0;
  padding: 0;
  color: #17cf1f;
  font-weight: 400;
  padding-left: 30px;
  height: 2rem; }

button.plus, .button.plus {
  background: url(../img/plus.png) no-repeat left center;
  background-size: contain; }

button.information, .button.information {
  background: url(../img/info.png) no-repeat left center;
  background-size: contain; }

button.more {
  background: url(../img/more.png) no-repeat left center;
  background-size: contain; }

button.eye, .button.eye {
  background: url(../img/eye.png) no-repeat left center;
  background-size: contain; }

button.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

button.secondary, button.tertiary, button.button.tertiary, button.form-input, button[type=submit], .button.secondary, .button.tertiary, button.button.form-input, button.button[type=submit], .secondary, button.tertiary, .button.tertiary, button.form-input, button[type=submit] {
  border: none;
  cursor: pointer;
  display: block;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
  background: none;
  background: #751e82; }
  button.secondary img, button.tertiary img, button.button.tertiary img, button.form-input img, button[type=submit] img, .button.secondary img, .button.tertiary img, button.button.form-input img, button.button[type=submit] img, .secondary img, button.tertiary img, .button.tertiary img, button.form-input img, button[type=submit] img {
    height: 2rem;
    width: auto;
    margin-right: 0.5rem;
    vertical-align: middle; }

button.secondary:hover, button.tertiary:hover, button.form-input:hover, button[type=submit]:hover, .button.secondary:hover, .button.tertiary:hover, button.button.form-input:hover, button.button[type=submit]:hover, .secondary:hover, button.tertiary:hover, .button.tertiary:hover, button.form-input:hover, button[type=submit]:hover {
  background: #9a28ab;
  color: inherit; }

button.secondary:last-child, button.tertiary:last-child, button.form-input:last-child, button[type=submit]:last-child, .button.secondary:last-child, .button.tertiary:last-child, button.button.form-input:last-child, button.button[type=submit]:last-child {
  margin-bottom: 0; }

button.type_select {
  display: block;
  width: 100%;
  height: 7rem;
  margin-bottom: 10rem;
  border: 1px dotted #ffffff;
  background: none; }
  button.type_select i {
    display: block;
    font-size: 3rem; }

button.type_select:hover {
  border-style: solid !important; }

button.type_select.active {
  border-style: solid !important;
  border-width: 2px !important; }

button.tertiary, .button.tertiary {
  display: inline-block;
  background: none;
  margin-bottom: 0; }

button.tertiary:hover, .button.tertiary:hover {
  border-bottom: 1px dotted #ffffff;
  background: none; }

button.tertiary.active, .button.tertiary.active {
  border-bottom: 1px solid #ffffff; }

button.disabled, .button.disabled {
  opacity: 0.3;
  cursor: not-allowed; }

button.inline {
  display: inline;
  margin: 0 0.5rem 0 0; }

button.inline:last-child {
  margin-right: 0; }

button.square {
  width: 2.3125rem;
  height: 2.3125rem;
  overflow: hidden; }

button.form-input {
  background-color: #ffffff;
  color: #080808;
  font-size: 0.8rem;
  height: 2.3125rem;
  overflow: hidden;
  cursor: pointer; }

button.form-input:hover {
  background-color: #ffffff;
  color: #080808;
  text-decoration: underline; }

button[type=submit] {
  font-family: "Inconsolata", sans-serif;
  display: block;
  width: 100%; }
  button[type=submit] img {
    height: 1rem; }

button.giant, .button.giant {
  font-size: 3rem;
  border: 5px solid #ffffff;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

button.giant:hover, .button.giant:hover {
  background: #ffffff;
  color: #080808; }

/* FORMS */
form fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 1rem; }
@-moz-document url-prefix() {
  form fieldset {
    display: table-cell; } }
form input:not([type='checkbox']), form textarea, form select, form .ql_editor {
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  margin-bottom: 1rem;
  margin-top: 0.2rem; }
form input:focus, form textarea:focus, form select:focus {
  background: inherit;
  border-width: 2px;
  border-color: inherit; }
form label, form label.error {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: lowercase; }
form .ql_editor {
  margin-top: 0; }
form .ql-container {
  font-family: #ffffff;
  font-size: inherit; }
form .ql_toolbar {
  background: #ffffff;
  margin-top: 0.2rem; }
form .ql-link-tooltip input, form .ql-link-tooltip input:focus {
  color: #080808; }
form .tag-button {
  margin-bottom: 1rem; }
form .tag-button, form .tag-button label {
  display: inline-block; }
form .tag-button label span {
  border: 1px dotted #ffffff;
  display: inline-block;
  padding: 5px 10px; }
form .tag-button label input {
  display: none; }
form .tag-button input:checked + span {
  border: 2px solid #ffffff; }

form .error label, form .error label.error {
  color: inherit; }
form .error small, form .error small.error {
  font-size: 0.8rem; }
form .error .ql_editor, form .error input {
  margin-bottom: 0; }

small.error.success {
  background-color: #165d6c; }

header .form-inline .field input {
  margin-bottom: 0; }

.form-inline {
  width: 100%;
  display: table; }
  .form-inline label {
    display: table-cell;
    padding-right: 0.5rem;
    vertical-align: middle;
    white-space: nowrap; }
  .form-inline .field {
    display: table-cell;
    overflow: hidden;
    width: 100%;
    vertical-align: middle; }
  .form-inline button.form-input {
    margin-top: 2px;
    height: 2.32rem;
    font-family: sans-serif; }
  .form-inline .awesomplete {
    display: block;
    width: 100%;
    z-index: 999;
    height: 2.3125rem
    /* creates triangle */ }
    .form-inline .awesomplete ul {
      background: url("/img/bg.png");
      list-style: none;
      padding: 1rem;
      margin: 0;
      margin-top: 15px;
      position: absolute;
      z-index: 9999;
      border-radius: 10px;
      min-width: 50%; }
    .form-inline .awesomplete ul:after {
      content: "";
      display: block;
      /* reduce the damage in FF3.0 */
      position: absolute;
      top: -15px;
      left: 10px;
      width: 0;
      border-width: 0 15px 15px;
      border-style: solid;
      border-color: #031F20 transparent; }
    .form-inline .awesomplete li {
      cursor: pointer; }
    .form-inline .awesomplete li:hover, .form-inline .awesomplete li[aria-selected="true"] {
      background: #751e82; }
    .form-inline .awesomplete .visually-hidden {
      display: none; }
    .form-inline .awesomplete mark {
      background-color: #751e82;
      color: inherit; }

.slide {
  width: 100%;
  height: 100%;
  position: fixed;
  right: -50%;
  left: auto;
  top: 0;
  margin: 0;
  overflow-y: scroll; }

@media only screen and (min-width: 40.0625em) {
  .slide {
    width: 50%; } }
  /* medium



/* LISTS */
ul.inline, ul.block, ul.grid {
  list-style: none;
  font-size: inherit;
  margin: 0;
  padding: 0; }
  ul.inline li, ul.block li, ul.grid li {
    position: relative; }

ul.no-list {
  list-style: none;
  margin-left: 0; }

ul.inline {
  display: inline;
  color: #d9d9d9;
  text-transform: lowercase; }

ul.block {
  display: block; }

ul.grid li {
  display: block;
  float: left;
  width: 10%;
  height: 10vw;
  margin-top: .9375rem;
  margin-bottom: .9375rem;
  overflow: hidden; }
ul.grid .row, ul.grid .columns {
  width: 100%;
  height: 100%;
  line-height: inherit;
  position: relative; }
ul.grid img {
  display: block;
  margin: 0 auto; }

ul.inline li {
  display: inline-block; }

ul.slash li:after {
  content: "\00a0/\00a0";
  color: #878787; }

ul.arrow li:after {
  font-family: 'Arial', sans-serif;
  content: "\2192";
  color: #878787;
  font-size: 1.3rem; }

ul.dash li:after {
  content: " \2013 ";
  color: #878787; }

ul.inline li:last-child:after {
  content: none; }

dl dt {
  font-size: 0.8rem;
  font-weight: 300;
  color: #878787; }

dl dd {
  color: #d9d9d9; }

.sort.desc:after {
  content: " \2193"; }

.sort.asc:after {
  content: " \2191"; }

.list .row {
  margin-bottom: 1rem;
  line-height: 2.8rem; }
.list li:hover {
  background: #751e82; }

/* MAIN */
#wrapper {
  display: table;
  width: 100%;
  height: 100%; }

header {
  display: table-row;
  width: 100%; }
  header .row.space {
    margin: 1rem 0; }

nav {
  text-transform: lowercase; }

.container {
  display: table-row;
  height: 100%; }

/*.flexbox{
    body, #wrapper{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex: 1;
    }
    header{
        display: block;
    }
}*/
/* GRID */
.row.full {
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative; }
  .row.full .columns {
    height: 100%; }

.margin-bottom {
  margin-bottom: 1rem !important; }

.dropdown {
  width: 100%;
  display: none;
  background: url("/img/bg.png");
  list-style: none;
  padding: 1rem;
  margin: 0;
  margin-top: 15px;
  padding-right: 1.5rem;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  min-width: none;
  max-width: 100%; }
  .dropdown .close {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    color: #d9d9d9;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1; }

/* creates triangle */
.dropdown:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  top: -15px;
  left: 10px;
  width: 0;
  border-width: 0 15px 15px;
  border-style: solid;
  border-color: #031F20 transparent; }

@media only screen and (min-width: 40.063em) {
  .dropdown {
    width: auto;
    max-width: 80%; }

  .dropdown#info {
    margin-left: 2rem; }

  .dropdown.open {
    display: block; } }
/* medium screens */
@media only screen and (min-width: 64.063em) {
  .dropdown {
    max-width: 40%; } }
/* large screens */
/* LANDING PAGE */
.landing_controls {
  position: absolute;
  left: 0;
  bottom: 0; }
  .landing_controls button {
    padding-right: 0;
    margin-bottom: 0; }
  .landing_controls i {
    font-size: 2rem; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 1rem; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* RENDERING OF ARTEFACTS */
#artefact_left, #artefact_right {
  position: absolute;
  overflow: hidden;
  top: 0; }

#artefact_left {
  left: 0; }

#artefact_right {
  right: 0; }

.artefact, .loader {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative; }
  .artefact img, .loader img {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%; }
  .artefact iframe, .artefact object, .loader iframe, .loader object {
    display: block;
    width: 100%;
    height: 100%; }
  .artefact .textContainer, .loader .textContainer {
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto; }
    .artefact .textContainer img, .loader .textContainer img {
      position: relative; }
  .artefact .text, .loader .text {
    vertical-align: middle;
    height: 0; }

#artefact button, #instruction button {
  position: absolute;
  right: 0;
  bottom: 0; }
#artefact .artefact.expanded, #instruction .artefact.expanded {
  overflow: scroll; }
  #artefact .artefact.expanded img, #instruction .artefact.expanded img {
    position: relative;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto; }

.instruction {
  border: 1px solid #ffffff;
  padding: 1rem; }
  .instruction img, .instruction object, .instruction iframe {
    width: 100%;
    height: auto; }

.showhide {
  cursor: pointer; }

.showhide::after {
  content: ' \25BE'; }

.showhide.hidden::after {
  content: ' \25B8'; }

#relation {
  padding: 4rem 3rem;
  height: 100%;
  width: 100%;
  position: relative;
  display: table-cell;
  overflow: hidden; }
  #relation nav {
    font-size: 4rem;
    font-family: sans-serif; }
  #relation .relation_nav {
    position: absolute;
    z-index: 999; }
  #relation .relation_nav:hover {
    border: none; }

.relation_nav#nav_up {
  left: 75%;
  top: -1rem;
  margin-left: -2rem; }

.relation_nav#nav_right {
  right: 0rem;
  top: 50%;
  margin-top: -3rem; }

.relation_nav#nav_down {
  left: 75%;
  bottom: -1rem;
  margin-left: -2rem; }

.relation_nav#nav_left {
  left: 0rem;
  top: 50%;
  margin-top: -3rem; }

/* SVG */
svg .vis_zoom {
  pointer-events: all;
  cursor: move; }
svg .link {
  fill: none;
  stroke: #17cf1f; }
svg .node {
  fill: #080808;
  stroke: #17cf1f; }
svg text {
  fill: #ffffff;
  stroke: none; }
svg rect.filled {
  fill: none;
  stroke: none; }
svg text.title {
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-anchor: middle; }
svg text.title.stroke {
  stroke: #080808;
  stroke-width: 5pt; }
svg tspan.small {
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Inconsolata", sans-serif; }
svg .linktext text {
  font-size: 0.85rem;
  fill: #17cf1f; }
svg .axis {
  stroke: #ffffff;
  shape-rendering: crispEdges;
  cursor: pointer;
  stroke-width: 2px; }
svg .slider {
  fill: #751e82;
  color: #751e82;
  cursor: pointer; }
  svg .slider .background {
    cursor: pointer !important; }
svg .marker {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px; }
svg .lbl {
  font-weight: 700;
  text-anchor: middle; }

.vis-gui {
  position: absolute;
  margin: 1rem; }

.vis-gui.zoom {
  bottom: 0;
  right: 0; }

.vis-gui.timeline {
  margin-left: 0;
  margin-right: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.row.vis-sort {
  margin-bottom: 1rem; }
  .row.vis-sort ul {
    color: #17cf1f; }

/* OVERRIDES */
.ql-snow.ql-toolbar {
  padding: 0.25rem; }

/* Inputfile */
.input_file label {
  width: 100%; }

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.no-js .inputfile + div {
  display: none; }

.inputfile + div {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 1rem; }

.error .inputfile + div {
  margin-bottom: 0; }

.inputfile + div > span {
  border: 1px solid white;
  display: block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden; }

.inputfile + div > span > span {
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer; }

.inputfile + div > span .file_label {
  background-color: white;
  color: #444;
  fill: #444;
  padding-right: 0.75rem; }

.inputfile + div .file_label svg {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.25rem; }

.inputfile + div > span.file_reset {
  margin: 0;
  padding: 0.5rem;
  margin-left: 1rem;
  width: auto;
  float: right; }

.inputfile + div > span.file_reset:hover {
  background: red; }

.inputfile + small.error {
  margin-top: 100px; }

/** HELP **/
.help {
  cursor: help !important;
  z-index: 9999;
  position: relative; }

.help a, .help label, .help input {
  cursor: help !important; }

.help-close-x {
  color: #AAAAAA;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 0.625rem;
  right: 1.375rem; }

.help-bg {
  background: #000000;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1004;
  left: 0; }

.help-msg-close {
  color: #AAAAAA;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 0.4rem;
  right: 0.8rem; }

.help-msg {
  position: absolute;
  padding: 2rem 15px 5px 15px;
  margin: 1em 0 3em;
  border-radius: 10px;
  background: #031F20;
  min-width: 250px;
  max-width: 500px;
  font-size: 0.8rem;
  z-index: 9999;
  display: none; }

.help-msg p {
  font-size: 0.8rem;
  margin-bottom: 0.8rem; }

/* creates triangle */
.help-msg:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  top: -15px;
  left: 15px;
  width: 0;
  border-width: 0 15px 15px;
  border-style: solid;
  border-color: #031F20 transparent; }

.help-msg.right:after {
  left: auto;
  right: 15px; }

.help-txt {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  margin-top: 50vh;
  font-weight: 400; }

/*# sourceMappingURL=app.css.map */
